body,html,table {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  font-size: 13px;
  margin: 0;
}

header h1 {
  font-size: 100%;
  margin-bottom: 5px;
}

header h2 {
  font-size: 100%;
}

header a {
  color: #4b4b4b;
  text-decoration: none;
}

table {
  display: table;
  border-collapse: collapse;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  line-height: 1.4em;
}

header img {
  width: 60px;
  height: auto;
}

section,header {
  margin: 0;
}

header,section {
  margin-bottom: 15px;
}

section:last-child {
  margin-bottom: 0;
}

.date {
  float: right;
  text-align: right;
}

h4 {
  font-size: 120%;
  margin: 0 0 5px;
  padding: 0;
  font-weight: 400;
}

p b {
  margin: 0;
  padding: 0;
  width: auto;
  display: inline;
}

p b:after {
  content: "\00a0";
}

.h-light {
  padding: 1px 2px;
}
